<!DOCTYPE html>
	<html>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 5px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  border-radius: 20%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #000000;
  color: white;
  text-decoration: none;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-linkedin {
  background: #000000;
  color: white;
}

.fa-envelope {
  background: #000000;
  color: white;
}

</style>

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<a style="text-decoration : none" href="https://github.com/jorge-diaz" class="fa fa-github"></a>
					<a style="text-decoration : none" href="https://twitter.com/jsdiaz_" class="fa fa-twitter"></a>
					<a style="text-decoration : none" href="https://www.linkedin.com/in/jsdiaz/" class="fa fa-linkedin"></a>
					<a style="text-decoration : none" href="mailto:jsdiazp@gmail.com" target="_top" class="fa fa-envelope"></a>
				</ul>
			</footer>
		</body>
	</html>
